{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
    Новости
{% endblock title %}

{% block content %}
    <h1>Новости</h1>
    
   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>
    
    <h4>Общее количество: {{ news|length }}</h4>
    <h5>{% current_time '%b %d %Y' %}</h5>
    {% if news %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Основной текст</td>
            </tr>
            {% for next_news in news %}
                <tr>
                    <td>{{ next_news.title|censor }}</td>
                    <td>{{ next_news.create_date|date:'d.m.Y' }}</td>
                    <td>{{ next_news.text|truncatechars:20|censor }}</td>
                </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
    
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}
    
   {{ page_obj.number }}
    
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
    
{% endblock content %}